
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Style */

.primary-color{
    color: #4E47FF;
}

.secondary-color{
    color: #252432;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;

}

body{
    margin: 0p;
}


/* Header Style */

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover ;
    
    
    
    
}


/* Nav style */

nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 30px 140px;
}

.nav-title{
    font-size: 34px;
    font-weight: bolder;
}

nav ul li{
    list-style: none;
}

/* banner */


.banner{
    
    
}

.banner-content{
    margin: 209px 260px 152px 260px;
    text-align: center;
    padding-bottom: 150px;
}

.banner-tile{
    font-size: 65px;
    font-weight: bold;
}