
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Style */

.primary-color{
    color: #4E47FF;
}

.secondary-color{
    color: #252432;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;

}

body{
    margin: 0p;
}

/* Main style */

main{
    max-width: 1140px;
    margin: 0px auto;
}


/* Header Style */

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover ;
    
    
    
    
}


/* Nav style */

nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 30px 140px;
}

.nav-title{
    font-size: 34px;
    font-weight: bolder;
}

nav ul li{
    list-style: none;
}

/* banner */


.banner{
    
    
}

.banner-content{
    margin: 209px 260px 152px 260px;
    text-align: center;
    padding-bottom: 150px;
}

.banner-tile{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}


/* Action Style */

.action{
    display: flex;
    justify-content: space-around;
    gap: 220px;
    margin-top: 120px;
}


.action-content-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
    
}

.action-content-title-des{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5); 
}

.action-pic{
    width: 403px;
    border-radius: 48px;
}

/* Productive Users sections style */


.users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 140px;
    text-align: center;
    margin-top: 116px;
    
}

.users-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: -40px;
}

.users-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: -28px;
    color: #4E47FF;
}

.item-des{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    
}
